/* NAVBAR */
.navbar{
    background-color: white;
}

    .navbar a{
        color: black;
        font-size: 20px;
    }

    .navbar a:hover{
        color: #c56eff;
        border-bottom: 2px solid rgba(251, 255, 1, 1);
    }

/* STRUCTURE */
html, body{
    height: 105%;
}
.page1{
    height: 100%;
    background-color: #E7E7E5;
}

.page2{
    width: 96%;
    height: 100%;
    border: 4px solid #F8DFDE;
    box-shadow: 0 0 10px 22px #F8DFDE ;
}

.page3{
    height: 140%;
        background-size: 40px 40px;
        background-image:
          linear-gradient(to right, lightgrey 1px, transparent 1px),
          linear-gradient(to bottom, lightgrey 1px, transparent 1px);
}

.page4{
    height: 30%;
    background-color: lightgrey;
}
/* grid created with help from https://stackoverflow.com/questions/3540194/ how-to-make-a-grid-like-graph-paper-grid-with-just-css */

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, button{
    font-family: 'Montserrat', sans-serif;
}

p, li, ul{
    font-family: 'Quicksand', sans-serif;
}


/* HOME PAGE */
.page1 h1{
    margin: 0 auto;
    padding: 2em 1em 1em 1em;
    font-size: 42px;
    color: white;
    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
    text-shadow: 3px 1px rgba(251, 255, 1, 1);
}

.homeContainer2 p{
    font-size: 50px;
    font-family: 'Cabin', sans-serif;
}

.homeImg{
    border-radius: 1%;
    height: 400px;
}

.aHome{
    color: white;
    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
    text-shadow: 3px 1px rgba(251, 255, 1, 1);
}

.aHome:hover{
    text-decoration: none;
    border-bottom: 3px solid #c56eff;
}


/* ABOUT PAGE */
.page2 h2{
    font-size: 45px;
    text-align: center;
    padding: 1em;
    margin: 0 auto;
}

.page2 .card{
    height: 150%;
    border: 4px solid #F8DFDE;
}

.page2 ul li{
    list-style:  none;
}

/* PORTFOLIO PAGE */
.photoshop{
    height: 95%;
}

.page3 h2{
    text-align: center;
    margin: 0 auto;
    padding: 1em 0 1em 0;
}

.page3 img{
    height: 150px;
    padding-bottom: 1em;
}


.portfolio{
    height: 85%;
    width: 95%;
    background-color: rgba(233, 221, 240, .95);
    border-radius: 1%;
}

.portfolio figure{
    padding: 1em;
}

.page3 h5{
    padding: 1em 0 0 .75em;
}

.portfolio figure{
    background-color: rgba(240, 237, 242, 1);
    width: 95%;
    border-radius: 5%;
}

.page3 button{
    margin: 1em 0 0 3em;
    height: 35px;
    width: 80px;
    border-radius: 10px;
}

button{
    color: white;
    background-color: rgba(199, 199, 199, 1);
    border: 1px solid rgba(240, 237, 242, 1)
}

button:hover{
    border: 1px solid rgba(251, 255, 1, 1);
    transform: scale(1.1);
    box-shadow: -1px -1px 13px 13px white;
}

/* CONTACT PAGE */
.page4 h2{
    padding-top: .5em;
}

.page4 h2, p{
    text-align: center;
}

/* MEDIA QUERIES */
/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
/* HOME PAGE  */
.page1, .page2 {
    height: 60%;
}

.page3{
    height: 80%;
}

.aHome{
    color: black;
    -webkit-text-fill-color: black; 
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: black;
    text-shadow: none;
}

.page1 h1{
    padding-top: 15%;
    font-size: 25px;
}

.page1 p{ 
    font-size: 20px;        
}

/* SKILLS PAGE */

.page2 h2{
    font-size: 20px;
}   

h4{
    font-size: 15px;
}

li{
    font-size: 13px;
}

/* PORTFOLIO PAGE */

.page3 h2{
  font-size: 20px;
}

.page3 h5{
  font-size: 15px;
}

.page3 p{
  font-size: 15px;
}
}

/* Landscape phones and portrait tablets */
@media (min-width: 481) and (max-width: 767px) {
    .navbar a{
        font-size: 15px;
    }
    
    /* HOME PAGE  */
    .page1, .page2{
        height: 100%;
    }


    .aHome{
        color: black;
        -webkit-text-fill-color: black; 
        -webkit-text-stroke-width: 0;
        -webkit-text-stroke-color: black;
        text-shadow: none;
    }

    .page1 h1{
        padding-top: 15%;
        font-size: 25px;
    }

    .page1 p{ 
        font-size: 20px;        
    }

/* SKILLS PAGE */


    .page2 h2{
        font-size: 20px;
    }   

    h4{
        font-size: 15px;
    }

    li{
        font-size: 13px;
    }

/* PORTFOLIO PAGE */

  .page3 h2{
      font-size: 20px;
  }

  .page3 h5{
      font-size: 15px;
  }

  .page3 p{
      font-size: 15px;
  }

  .page3{
      height: 215%;
  }

  .portfolio{
      height: 100%;
  }

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .navbar{
        font-size: 15px;
    }


/* HOME PAGE  */
    .page1, .page2 {
        height: 105%;
    }

    .aHome{
        color: black;
        -webkit-text-fill-color: black; 
        -webkit-text-stroke-width: 0;
        -webkit-text-stroke-color: black;
        text-shadow: none;
    }

    .page1 h1{
        padding-top: 15%;
        font-size: 25px;
    }

    .page1 p{ 
        font-size: 20px;        
    }

/* SKILLS PAGE */

    .page2 h2{
        font-size: 20px;
    }   

    h4{
        font-size: 15px;
    }

    li{
        font-size: 13px;
    }

/* PORTFOLIO PAGE */

  .page3 h2{
      font-size: 20px;
  }

  .page3 h5{
      font-size: 15px;
  }

  .page3 p{
      font-size: 15px;
  }

  .page3{
      padding-top: 5%;
      height: 215%;
  }

}