/* Home */
.nav a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

.nav a:hover{
    color: #0ee2e6
}

/* Re examine */
/* .nav a:active{
    color: blue;
} */

.nav {
    width: 40%;
    height: 3%;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    float: right;
    text-align: right;
    padding-top: 5px;
    position: fixed;
    padding-right: 30px;
    padding-top: 10px;
}

.intro {
    font-family: 'Poppins', sans-serif;
    padding-left: 5px;
    padding-top: 100px;
} 

.intro1 {
    font-size: 60px;
}

.intro2 {
    font-size: 20px;
}

/* Resume */
footer {
    font-family: 'Poppins', sans-serif;
}

.resumeImg {
    max-height: 100%;
    max-width: 70%;
    padding-left: 26%;
    padding-top: 10%;
    position: relative;
}

.resumeHead {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    margin: 0px;
    padding-top: 4%;
    padding-left: 1%;
    background-color: #ffc266;
    position: fixed;
    width: 100%;
    height: 14%;
    color: white;
}

@media screen and (max-width: 1000px) {
    .resumeText {
        display: none;
    }
}

.navResume {
    width: 100%;
    height: 3%;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    float: right;
    text-align: right;
    padding-top: 5px;
    position: relative;
    padding-right: 3px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.navResume a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

.navResume a:hover{
    color: #0ee2e6
}

/* About */
.about {
    background-color: black;
    height: 85%;
    width: 100;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.aboutLink {
    text-decoration: none;
    color: white;
}

.aboutHeading {
    padding-bottom: 0px;
    padding: 10px;
    padding-top: 3%;
    font-family: 'Poppins', sans-serif;
}

.aboutWriting {
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding: 10px;
}

/* my work */

.footBR {
    margin-top: 40%;
}
/* title */
.workTitle {
    font-family: 'Poppins', sans-serif;
    padding-top: 10%;
    padding-left: 42%;
    padding-bottom: 0px;
    white-space: nowrap
}

.photoshop {
    padding-top: 2%;
    padding-left: 2%;
    width: 20%;
    height: 32%;
}

.photoshop {
    position: absolute;
    opacity: 1;
    transition: .5s ease;
}

.photoshop:hover {
    opacity: 0;
}

.smallText {
    padding-left: 15%;
    padding-top: 30%;
    font-family: 'Poppins', sans-serif;
    max-width: 10%;
    max-height: 20;
}

/* github work */

.gitWork {
    padding-top: 10%;
    width: 20%;
    height: 32%;
}

.gitWork {
    position: absolute;
    opacity: 1;
    transition: .5s ease;
}

.gitWork:hover {
    opacity: 0;
}

.smallText2 {
    padding-left: 9%;
    padding-top: 65%;
    font-family: 'Poppins', sans-serif;
    max-width: 10%;
    max-height: 50px;
}
/* photoshop work */

.beach1 img{
    padding: 0px;
    margin: 0px;
    height: 80%;
}

.beach2 img{
    padding: 0px;
    margin: 0px;
    height: 80%;
}

h3 {
font-family: 'Poppins', sans-serif;
padding-top: 4.3%;
padding-bottom: 0px;
padding-left: 5%;
}

.flower img{
    width: 90%;
    padding-left: 53%;
    padding-top: 15px;
}

/* contact */
.contactHeader {
    padding-top: 6%;
    padding-left: 35%;
    font-family: 'Poppins', sans-serif;
}

.contactPicture {
    max-height: 400px;
    max-width: 400px;
    padding-left: 30%;
}

.linkedin {
    max-height: 75px;
    max-width: 75px;
    padding-top: 45px;
    padding-left: 460px;
    padding-right: 0px;
}

.github {
    max-height: 75px;
    max-width: 75px;
    padding-left: 30px;
}